<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Teste Repositorios git </title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">    
    <script type="text/javascript">

    </script>
</head>
<body>
    <h1>Lista dosauxilios distribuidos no municipipo</h1>
    <div class="container">
        <div class="row">
            
                <!-- <table id="example" class="table table-bordered" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Municipio</th>
                        <th>Data</th>
                        <th>Valor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="id : ${userIds.id}">
                        <td th:text="${ibgecon.codIbge}">Name</td>
                        <td th:text="${ibgecon.data}">Position</td>
                        <td th:text="${ibgecon.office}">Office</td>
                    </tr>
                    </tbody>
                </table> -->

                <p>Por enquanto lista simpes</p>
                
                <!-- <div class="col">
                    <div th:each="axs : ${auxs}">
                        <hr>
                        <h4 th:text="'Auxilo: ' + ${axs.beneficiario} "></h4>
                    </div>
                </div> -->
        </div>
        <div class="col">
            <a href="/"> Voltar ao inicio</a>
        </div>

    </div>

</body>
</html>