<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">    
</head>
<body>
   <div class="container">
       <div class="row">
           <div class="col">
               <h1>Preencha as informações para realizar seu cadastro</h1>
           </div>           
       </div>
       <div class="row" style="margin-top: 5%;">
           <div class="col-4">
               <p>Nome Completo</p>
               <input type="text">
           </div>
           <div class="col-4">
               <p>Seu municipio</p>
               <input type="text">
           </div>
           <div class="col">
               <p>Opcional</p>
           </div>
           <div class="row">
               <p>informações para usar no login</p>
           </div>

           <form th:action="@{/concluidocadastro}" method="post" th:object="${usuario}">
                <div class="row">
                    <div class="col-4">
                        <p>login</p>
                        <input id="login" type="text" th:field="*{login}" required autofocus="autofocus">
                    </div>
                    <div class="col-4">
                        <p>Senha</p>
                        <input id="senha" type="password" th:field="*{senha}" required autofocus="autofocus">
                    </div>
                    <div class="col">
                        <p>Confirme sua senha</p>
                        <input type="text">
                    </div>
                </div>
                <div class="row" style="margin-top: 2%;">
                    <div class="col">
                        <button type="submit">Cadastrar</button>
                    </div>
                </div>
            </form>

       </div>
   </div> 
</body>
</html>