<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">    
</head>
<body>
   <div class="container">
       <div class="row">
           <div class="col">
               <h1>Preencha as informações para realizar seu cadastro</h1>
           </div>           
       </div>
       <div class="row">
           <div class="col">
               <p>Nome Completo</p>
               <input type="text">
           </div>
           <div class="col">
               <p>Seu municipio</p>
               <input type="text">
           </div>
           <div class="row">
               <p>informações para usar no login</p>
           </div>
           <div class="row">
               <div class="col">
                   <p>login</p>
                   <input type="text">
               </div>
               <div class="col">
                   <p>Senha</p>
                   <input type="text">
               </div>
               <div class="col">
                   <p>Confirme sua senha</p>
                   <input type="text">
               </div>
           </div>
       </div>
   </div> 
</body>
</html>