<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">    
</head>
<body>
    
    <div class="login">
        <h1>Bem vindo ao site do desafio para desenvolvedor</h1>
        <h2>Login</h2>
    </div>

    <form th:action="@{/login}" method="post">        
        <div class="form-group" style="margin-top: 5%;">
            <p>Login</p>
            <input id="login" type="text" class="form-control" id="login" name="login" required autofocus="autofocus">
        </div>
        <div class="form-group">
            <p>Senha</p>
            <input id="senha" type="password" class="form-control" id="senha" name="senha" required autofocus="autofocus">
        </div>
        <div class="form-group" style="margin-top: 5%;">
            <button type="submit" name="login-submit" class="btn btn-info">Logar</button>
        </div>
    </form>

    <div class="form-group" style="margin-top: 10%; margin-left: 20%;">
        <a href="/cadastro"> Cadastrar novo</a>
    </div>
    
    
</body>
</html>